@font-face {
  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/CenturyGothic.eot');
  src: url('fonts/CenturyGothic.woff');
  src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('fonts/CenturyGothic.woff') format('woff'), url('fonts/CenturyGothic.ttf') format('truetype');
}
@font-face {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/MyriadPro-Regular.eot');
  src: url('fonts/MyriadPro-Regular.woff');
  src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype');
}
:root {
  --main-image-width: 400px;
  --main-image-height: 400px;
  --thumbnail-track-width: 90px;
  --thumbnail-height: 79px;
}
html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-family: Century Gothic;
}
input,
button {
  outline: none !important;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}
.container-fluid {
  max-width: 1920px !important;
}
.container {
  max-width: 1600px;
}
.btn-link {
  color: #FFFFFF;
  background: #E74444;
  box-shadow: 5px 7px 20px 0px #0000001F;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  padding: 20px 35px;
  border: 1px solid #E74444;
  border-radius: 3px;
  transition: all 0.5s;
  width: max-content;
}
.btn-link:hover {
  color: #E74444;
  background: #FFFFFF;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  position: absolute;
  width: 100%;
}
.header .logo {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: left;
}
.header .logo-img {
  width: 215px;
  height: auto;
}
.header .hamburger {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: right;
}
.header .hamburger-btn,
.header .play-btn {
  background: transparent;
  border: none;
}
.header .hamburger-btn {
  height: 50px;
}
.header .hamburger-img {
  width: 40px;
  height: auto;
}
.header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar {
  position: fixed;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  transition: all 0.5s;
  top: 0;
  right: 0;
  z-index: 500;
  padding: 0;
  color: #FFFFFF;
  background: #2b2a29b8;
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header .navbar .navbar-bg {
  width: 50%;
  height: 100%;
  background: #2B2A29;
  display: flex;
}
.header .navbar .social {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 50%;
  right: 25px;
  transform: translate(-50%, 0);
}
.header .navbar .social:before {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background: #7d7c7c;
  position: absolute;
  top: -50px;
  right: 12px;
}
.header .navbar .social:after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background: #7d7c7c;
  position: absolute;
  bottom: -50px;
  right: 12px;
}
.header .navbar .social li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header .navbar .social-img {
  width: 25px;
  height: auto;
}
.header .navbar .languages {
  position: absolute;
  bottom: 50px;
  right: 120px;
  display: flex;
  list-style: none;
}
.header .navbar .languages li {
  position: relative;
}
.header .navbar .languages li:after {
  position: absolute;
  content: "";
  width: 19px;
  height: 1px;
  background: rgba(254, 254, 254, 0.4);
  right: -8px;
  bottom: 12px;
}
.header .navbar .languages li:last-child:after {
  display: none;
}
.header .navbar .languages .lang-link {
  font-size: 20px;
  line-height: 25px;
  color: rgba(254, 254, 254, 0.4);
  text-decoration: none;
  margin: 0 20px;
}
.header .navbar .languages .lang-link.active {
  color: #E74444;
}
.header .hamburger-btn {
  z-index: 1000;
  width: 40px;
  height: 22px;
  position: relative;
  margin-right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header .hamburger-btn span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header .hamburger-btn span:nth-child(2) {
  width: 70%;
  left: 6px;
}
.header .hamburger-btn span:nth-child(1) {
  top: 0px;
}
.header .hamburger-btn span:nth-child(2) {
  top: 8px;
}
.header .hamburger-btn span:nth-child(3) {
  top: 16px;
}
.header .hamburger-btn.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.header .hamburger-btn.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.header .hamburger-btn.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.header .hamburger-btn.open {
  position: fixed;
  top: 34px;
  right: 20px;
}
.header .navbar-block {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .navbar-block li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header .navbar-link {
  font-size: 30px;
  line-height: 22px;
  color: #FEFEFE;
  text-decoration: none;
}
.header .navbar-link.active {
  color: #E74444;
}
.header .categories {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 100px;
}
.header .categories li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.header .categories-link {
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  color: rgba(254, 254, 254, 0.7);
  transition: all 0.5s;
}
.header .categories-link:hover {
  color: #E74444;
}
.header .collapsed-trigger {
  margin-left: 25px;
}
.slider {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.slider .slider-video {
  position: relative;
  padding: 0;
  max-height: 750px;
  overflow: hidden;
}
.slider .slider-video video {
  height: 100%;
  position: relative;
  left: -70px;
  filter: brightness(70%);
}
.slider .slider-video button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  width: 90px;
  height: auto;
}
.slider .slider-video button img {
  width: 100%;
}
.slider .slider-info {
  background: url(../images/main-right.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 60px;
  padding-bottom: 150px;
  position: relative;
}
.slider .slider-info h1 {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 88px;
  line-height: 75px;
  color: #FEFEFE;
  margin-top: 160px;
}
.slider .slider-info p {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FEFEFE;
  margin-top: 50px;
  margin-bottom: 90px;
  width: 35%;
}
.slider .slider-info .slider-product {
  max-width: 375px;
  position: absolute;
  bottom: 75px;
  right: 120px;
}
.slider .slider-info .slider-socials {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 50%;
  right: 25px;
  transform: translate(-50%, 0);
}
.slider .slider-info .slider-socials:before {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background: #7d7c7c;
  position: absolute;
  top: -50px;
  right: 12px;
}
.slider .slider-info .slider-socials:after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background: #7d7c7c;
  position: absolute;
  bottom: -50px;
  right: 12px;
}
.slider .slider-info .slider-socials li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.slider .slider-info .slider-social-img {
  width: 25px;
  height: auto;
}
.slider .slider-info .lang {
  position: absolute;
  bottom: 25px;
  right: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #FEFEFE;
}
.top-img {
  position: relative;
  z-index: 0;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.top-img .top-img-title {
  margin-top: 220px;
  margin-bottom: 75px;
  font-weight: normal;
  font-size: 60px;
  line-height: 74px;
  color: #FEFEFE;
}
.products {
  padding-top: 125px;
  padding-bottom: 75px;
}
.products .products-block {
  position: relative;
  padding: 25px 25px 100px 25px;
  margin-bottom: 50px;
}
.products .products-block .stics {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: #E74444;
  border-radius: 0px 0px 0px 18px;
  font-size: 26px;
  line-height: 32px;
  color: #FEFEFE;
}
.products .products-block .products-img {
  height: 100%;
  max-height: 180px;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.products .products-block .products-title {
  margin-top: 30px;
  font-size: 28px;
  line-height: 34px;
  color: #2B2A29;
}
.products .products-block .products-desc {
  margin-top: 16px;
  font-size: 18px;
  line-height: 24px;
  color: #2B2A29;
  margin-bottom: 55px;
}
.products .products-block .btn-link {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.products .products-block:hover {
  background: #EAEFF4;
  transition: background 0.1s ease-in-out;
}
.products .products-block:hover .btn-link {
  opacity: 1;
  transition: all 0.5s;
}
.products .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .pagination li {
  font-size: 20px;
  line-height: 30px;
  color: #2B2A29;
  margin: 5px 12px;
}
.products .pagination .pagiantion-link {
  font-size: 20px;
  line-height: 30px;
  color: #929191;
  text-decoration: none;
  transition: all 0.5s;
}
.products .pagination .pagiantion-link:hover {
  color: #E74444;
}
.top-bg {
  background: #2B2A29;
  height: 90px;
  position: relative;
  z-index: 0;
}
.product-card {
  position: relative;
}
.product-card .image-block,
.product-card .variants-block,
.product-card .descr-block {
  padding-top: 100px;
  padding-bottom: 150px;
}
.product-card .image-block,
.product-card .variants-block {
  background: #F4F4F4;
}
.product-card .descr-block {
  padding-left: 60px;
  padding-right: 60px;
}
.product-card .descr-block p {
  font-family: Myriad Pro;
  font-size: 16px;
  line-height: 28px;
  color: #2B2A29;
}
.product-card .image-block {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.product-card .image-block ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: -12px;
}
.product-card .image-block img {
  width: 100%;
  height: auto;
  max-width: 445px;
}
.product-card .image-block .nav-tabs {
  border: none;
}
.product-card .image-block .nav-tabs .nav-item {
  height: auto;
}
.product-card .image-block .nav-tabs .nav-link {
  border-radius: 0 !important;
  height: auto;
  width: 77px;
  color: #4D94B9;
  font-size: 18px;
  line-height: 20px;
  border-bottom: 1px solid #4D94B9;
}
.product-card .image-block .nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid #4D94B9;
}
.product-card .image-block .nav-tabs .nav-link.active {
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  background: #4D94B9;
  height: auto;
}
.product-card .image-block .tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.product-card .image-block .block-name {
  position: absolute;
  bottom: 20px;
  left: 60px;
  font-weight: bold;
  font-size: 60px;
  line-height: 50px;
  color: #EFEFEF;
}
.product-card .variants {
  padding: 0;
  margin: 0;
  list-style: none;
}
.product-card .variants li {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ADADAD;
  margin-bottom: 10px;
  text-decoration: underline;
}
.product-card .product-title {
  font-size: 40px;
  line-height: 60px;
  color: #2B2A29;
}
.product-card .price-tag .price-tag-link {
  font-size: 20px;
  line-height: 20px;
  color: #4D94B9;
  text-decoration: none;
}
.product-card .price-tag .price-tag-img {
  width: 25px;
  height: auto;
  margin-bottom: 3px;
}
.properties {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #EAEFF4;
  position: relative;
}
.properties .properties-title {
  font-size: 40px;
  line-height: 60px;
  color: #2B2A29;
}
.properties .text-block {
  padding-right: 35px;
}
.properties p {
  font-family: Myriad Pro;
  font-size: 16px;
  line-height: 28px;
  color: #2B2A29;
}
.properties .properties-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
}
.properties .block-name {
  font-weight: bold;
  font-size: 160px;
  line-height: 180px;
  color: #E7E7E7;
  position: absolute;
  bottom: 0;
  left: 60px;
}
.composition {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.composition .composition-title {
  font-size: 40px;
  line-height: 60px;
  color: #2B2A29;
}
.composition .text-block {
  padding-left: 35px;
}
.composition p {
  font-family: Myriad Pro;
  font-size: 16px;
  line-height: 28px;
  color: #2B2A29;
}
.composition .composition-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
}
.composition .block-name {
  font-weight: bold;
  font-size: 160px;
  line-height: 180px;
  color: #F7F7F7;
  position: absolute;
  bottom: 0;
  right: 60px;
}
.recommendations {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #EAEFF4;
  position: relative;
}
.recommendations .recommendations-title {
  font-size: 40px;
  line-height: 60px;
  color: #2B2A29;
}
.recommendations .text-block {
  padding-right: 35px;
}
.recommendations p {
  font-family: Myriad Pro;
  font-size: 16px;
  line-height: 28px;
  color: #2B2A29;
}
.recommendations .recommendations-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
}
.recommendations .block-name {
  font-weight: bold;
  font-size: 160px;
  line-height: 180px;
  color: #E7E7E7;
  position: absolute;
  bottom: 0;
  left: 60px;
}
.video-block {
  position: relative;
  padding-top: 130px;
  padding-bottom: 120px;
}
.video-block .videoframe {
  position: relative;
}
.video-block .videoframe button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  width: 90px;
  height: auto;
}
.video-block .videoframe button img {
  width: 100%;
}
.video-block .block-name {
  font-weight: bold;
  font-size: 160px;
  line-height: 180px;
  color: #F7F7F7;
  position: absolute;
  bottom: 0;
  right: 60px;
  z-index: -1;
}
.category {
  padding-top: 160px;
  padding-bottom: 100px;
  overflow: hidden;
  background: #EAEFF4;
}
.category h2 {
  font-size: 60px;
  line-height: 90px;
  color: #2B2A29;
  max-width: 1320px;
  padding-left: 15px;
}
.category .last-word {
  font-size: 100px;
}
.category .category-block {
  position: relative;
  margin: 40px 0;
  z-index: 10;
}
.category .category-img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  filter: opacity(0.5);
  z-index: 20;
}
.category .category-img:hover {
  filter: opacity(1);
}
.category .row div {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.category .category-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #2B2A29;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.category .category-link:hover .category-img {
  filter: opacity(1);
}
.big-logo {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #CFE8EE;
}
.big-logo .big-logo-img {
  width: 900px;
  display: block;
  margin: 0 auto;
}
.map {
  padding-top: 160px;
  padding-bottom: 160px;
  background: #EAEFF4;
  position: relative;
}
.map .map-title {
  font-size: 60px;
  line-height: 60px;
  color: #2B2A29;
  margin-bottom: 60px;
}
.map .map-block,
.map .adress-block {
  padding-right: 0 !important;
  padding-left: 0 !important;
  height: 560px;
}
.map .adress-block {
  background: #FEFEFE;
}
.map ul {
  list-style: none;
}
.map .map-adress {
  padding-left: 0 !important;
  margin-left: 60px;
  margin-right: 30px;
  margin-top: 30px;
  overflow-y: scroll;
  height: 500px;
}
.map .map-adress::-webkit-scrollbar {
  width: 3px;
}
.map .map-adress::-webkit-scrollbar-track {
  background: #CFE8EE;
  -webkit-border-radius: 10px;
  border-radius: 2px;
}
.map .map-adress::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 2px;
  width: 4px;
  background: #4D94B9;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.map .map-city {
  font-size: 20px;
  line-height: 25px;
  color: #2B2A29;
  margin-top: 30px;
}
.map .map-city ul li {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: rgba(43, 42, 41, 0.6);
}
.partners {
  padding-top: 160px;
  padding-bottom: 160px;
  background: #4D94B9;
  position: relative;
}
.partners .partners-title {
  font-size: 60px;
  line-height: 60px;
  color: #FEFEFE;
  margin-bottom: 60px;
}
.partners .partner-img {
  width: 130px;
  margin: 0 auto;
}
.partners .slick-wrapper {
  max-width: 80%;
  margin: 0 auto;
}
.partners .slider-arrows {
  margin-top: 50px;
  text-align: right;
}
.partners .slider-btn {
  z-index: 100;
  width: 45px;
  height: 45px;
  margin: 5px;
  border: 1px solid #FFFFFF;
  background: rgba(234, 239, 244, 0.5);
  color: #FFFFFF;
}
.slick-dots {
  bottom: -75px;
  width: max-content !important;
  left: 50%;
  transform: translate(-50%, 50%);
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 6px;
  content: '';
  text-align: center;
  opacity: 0.25;
  color: black;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.about-us {
  padding-top: 160px;
  padding-bottom: 160px;
}
.about-us .image-block {
  margin-bottom: 40px;
}
.about-us .desc-block {
  padding-left: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us .about-us-img {
  width: 100%;
  height: auto;
}
.about-us h3 {
  font-size: 60px;
  line-height: 60px;
  color: #2B2A29;
  margin-top: 25px;
}
.about-us p {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #2B2A29;
  margin-bottom: 50px;
}
.about-us .about-collapse .row:nth-child(odd) .desc-block {
  padding-left: 0;
  padding-right: 40px;
}
.about-us .about-collapse .row:nth-child(even) .desc-block {
  padding-left: 40px;
  padding-right: 0;
}
.contacts {
  padding-top: 160px;
  padding-bottom: 160px;
  background: #EAEFF4;
}
.contacts .slider-contact {
  display: flex;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.contacts .contact-arrows {
  display: none;
}
.contacts .contacts-title {
  font-size: 60px;
  line-height: 60px;
  color: #2B2A29;
  margin-bottom: 70px;
}
.contacts ul {
  list-style: none;
  padding-left: 0;
}
.contacts ul li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 40px;
}
.contacts .contact-icon {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.contacts .contact-desc {
  font-family: Myriad Pro;
  font-size: 20px;
  line-height: 32px;
  color: #2B2A29;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 80%;
}
.contacts span {
  order: -1;
  width: 100%;
  margin-left: 31px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(43, 42, 41, 0.4);
}
.get-form {
  padding-top: 140px;
  padding-bottom: 150px;
}
.get-form form {
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.get-form input[type=text] {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(43, 42, 41, 0.2);
}
.get-form input[type=text]::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: rgba(43, 42, 41, 0.6);
}
.get-form input[type=button] {
  margin-top: 20px;
}
.footer {
  background: #2E2F2F;
}
.footer .footer-logo-img {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  width: 350px;
  height: auto;
}
.footer .footer-social {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: max-content;
  list-style: none;
  padding-left: 0;
}
.footer .footer-social .footer-social-img {
  width: 38px;
  height: auto;
  margin: 0 20px;
}
.footer hr {
  border: none;
  color: #FFFFFF;
  height: 2px;
  background-color: #FFFFFF;
}
.footer .copyright {
  display: block;
  padding: 33px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FEFEFE;
}
.navigation .navigation-title {
  position: absolute;
  right: 50px;
  bottom: 50px;
  color: #2B2A29;
  writing-mode: tb-rl;
  z-index: 500;
}
.navigation .navigation-title span {
  color: #B8B8B8;
}
@media screen and (max-width: 1640px) {
  .container {
    max-width: 1500px;
  }
}
@media screen and (max-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .slider .left-block {
    height: 500px;
  }
  .slider .slider-video {
    max-height: 500px;
    height: 40vh;
  }
  .slider .slider-video video {
    height: auto;
    width: 100%;
    left: 0;
  }
  .slider .slider-info {
    padding-left: 0;
    text-align: center;
  }
  .slider .slider-info h1 {
    font-size: 64px;
  }
  .slider .slider-info p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider .slider-info .slider-product {
    right: 50%;
    transform: translate(50%, 0);
    height: 25vh;
    top: -15vh;
  }
  .slider .slider-info .slider-socials {
    display: none;
  }
  .category {
    display: flex;
    flex-direction: column;
  }
  .category .container-fluid {
    order: 1;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .category h2 {
    font-size: 30px;
    line-height: 60px;
  }
  .category .last-word {
    font-size: 60px;
  }
  .properties .block-name {
    font-size: 100px;
    bottom: -30px;
  }
  .composition .block-name {
    font-size: 100px;
    bottom: -30px;
  }
  .recommendations .block-name {
    font-size: 100px;
    bottom: -30px;
  }
  .video-block .video-slider-arrows {
    top: -51px;
  }
  .video-block .block-name {
    font-size: 100px;
    bottom: -30px;
  }
}
@media screen and (max-width: 990px) {
  .about-us .image-block {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .about-us .desc-block {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
@media screen and (max-width: 800px) {
  .header .navbar .navbar-bg {
    width: 100%;
  }
  .product-card .image-block .banner-slider .slider.slider-nav {
    height: auto;
  }
  .product-card .image-block .slider-banner-image {
    height: auto;
  }
  .product-card .image-block .slider-nav .slick-slide.thumbnail-image .thumbImg {
    height: auto;
  }
  .slider .btn-link {
    display: block;
    margin: 0 auto;
  }
  .slider .slider-desc {
    margin-right: 60px;
    text-align: center;
  }
  .slider .slider-socials {
    display: none;
  }
  .slider .lang {
    display: none;
  }
  .category {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .category h2 {
    text-align: center;
  }
  .category .category-block {
    margin: 2px 0;
  }
  .big-logo .big-logo-img {
    width: 100%;
    padding: 0 30px;
  }
  .map {
    padding-bottom: 0;
  }
  .map .map-title {
    font-size: 40px;
    text-align: center;
  }
  .partners {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .partners .partners-title {
    font-size: 40px;
    text-align: center;
  }
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contacts .contacts-title {
    font-size: 40px;
    margin-bottom: 0;
  }
  .contacts .slider-contact {
    display: flex;
  }
  .contacts .slider-contact .slick-dots {
    display: flex;
    justify-content: center;
  }
  .contacts .slider-contact .slick-dots li button:before {
    background: #4D94B9;
  }
  .contacts .slider-btn {
    z-index: 100;
    width: 45px;
    height: 45px;
    margin: 5px;
    border: 1px solid #2D9CDB;
    background: rgba(234, 239, 244, 0.5);
    color: #2D9CDB;
  }
  .contacts .contact-arrows {
    display: block;
    text-align: right;
  }
  .get-form {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .get-form form {
    width: 100%;
  }
  .scrollbar {
    display: none;
  }
}
@media screen and (max-width: 696px) {
  .slider .slider-info h1 {
    font-size: 30px;
    line-height: 37px;
  }
  .slider .slider-info p {
    width: 80%;
  }
  .category h2 {
    margin-bottom: 50px;
  }
  .category h2 span {
    font-size: 55px;
    display: block;
  }
  .category .last-word {
    text-transform: uppercase;
  }
  .product-card .descr-block {
    padding-left: 0;
    padding-right: 0;
    max-width: 540px;
    margin: 0 auto;
  }
  .product-card .block-name {
    display: none;
  }
  .properties .block-name {
    display: none;
  }
  .composition .block-name {
    display: none;
  }
  .recommendations .block-name {
    display: none;
  }
  .video-block {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  .video-block .block-name {
    display: none;
  }
  .video-block .video-slider-arrows {
    justify-content: right;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .header .logo-img {
    width: 170px;
  }
  .header .hamburger-btn {
    margin-right: 0;
  }
  .header .hamburger-btn.open {
    top: 29px;
  }
  .header .navbar-block {
    margin-left: 30px;
  }
  .header .navbar-block li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header .navbar-link {
    font-size: 20px;
    line-height: 22px;
  }
  .header .categories {
    margin-left: 50px;
  }
  .top-img .top-img-title {
    font-size: 28px;
    line-height: 34px;
  }
  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .products .products-block .stics {
    right: 26px;
    border-radius: 0px 18px 0px 18px;
  }
  .product-card .block-name {
    display: none;
  }
  .product-card .descr-block {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .product-card .product-title {
    font-size: 24px;
    line-height: 30px;
  }
  .properties .block-name {
    display: none;
  }
  .properties .img-block {
    order: 0;
    margin-bottom: 30px;
  }
  .properties .text-block {
    order: 1;
  }
  .composition .block-name {
    display: none;
  }
  .composition .img-block {
    order: 0;
    margin-bottom: 30px;
  }
  .composition .text-block {
    order: 1;
  }
  .recommendations .block-name {
    display: none;
  }
  .recommendations .img-block {
    order: 0;
    margin-bottom: 30px;
  }
  .recommendations .text-block {
    order: 1;
  }
  .video-block .block-name {
    display: none;
  }
  .slider .slider-product {
    right: 50%;
    transform: translate(50%, 0);
  }
  .slider .slider-title {
    line-height: 25px;
  }
  .slider .left-block {
    height: 350px;
    margin-top: -20px;
  }
  .category {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .category .last-word {
    font-size: 60px;
  }
  .about-us {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-us .image-block {
    order: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  .about-us .desc-block {
    order: 1;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .btn-link {
    margin: 0 auto;
    font-size: 16px;
  }
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contacts .container {
    width: 90%;
  }
  .contacts .contact-arrows {
    margin-top: 60px;
  }
  .partners {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .partners .partners-title {
    line-height: 32px;
  }
  .partners .partner-img {
    margin: 15px auto;
  }
  .about-us {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-us .about-us-title {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .map {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .map .map-title {
    line-height: 32px;
  }
  .get-form {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer .footer-logo-img {
    width: 245px;
  }
}
