@font-face
{
    font-family: 'Century Gothic';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/CenturyGothic.eot');
    src: url('./fonts/CenturyGothic.woff');
    src: url('./fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('./fonts/CenturyGothic.woff') format('woff'), url('./fonts/CenturyGothic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Myriad Pro';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/MyriadPro-Regular.eot');
    src: url('./fonts/MyriadPro-Regular.woff');
    src: url('./fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/MyriadPro-Regular.woff') format('woff'), url('./fonts/MyriadPro-Regular.ttf') format('truetype');
}

:root {
    --main-image-width: 400px;
    --main-image-height: 400px;
    --thumbnail-track-width: 90px;
    --thumbnail-height: 79px;
}

html, body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-family: Century Gothic;
}

input, button {
    outline: none !important;
}

:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}

.container-fluid {
    max-width: 1920px !important;
}

.container {
    max-width: 1600px;
}

.btn-link {
    color: #FFFFFF;
    background: #E74444;
    box-shadow: 5px 7px 20px 0px #0000001F;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    padding: 20px 35px;
    border: 1px solid #E74444;
    border-radius: 3px;
    transition: all 0.5s;
    width: max-content;

    &:hover {
        color: #E74444;
        background: #FFFFFF;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    width: 100%;

    .logo {
        width: 50%;
        padding: 20px;
        display: flex;
        justify-content: left;
    }
    
    .logo-img {
        width: 215px;
        height: auto;
    }
    
    .hamburger {
        width: 50%;
        padding: 20px;
        display: flex;
        justify-content: right;
    }
    
    .hamburger-btn, .play-btn {
        background: transparent;
        border: none;
    }
    
    .hamburger-btn {
        height: 50px;
    }
    
    .hamburger-img {
        width: 40px;
        height: auto;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        position: fixed;
        width: 0;
        height: 100%;
        overflow-x: hidden;
        transition: all 0.5s;
        top: 0;
        right: 0;
        z-index: 500;
        padding: 0;
        color: #FFFFFF;
        background: #2b2a29b8;

        opacity: 0;
        visibility: hidden;
        transition: .55s opacity, .55s visibility;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .navbar-bg {
            width: 50%;
            height: 100%;
            background: #2B2A29;
            display: flex;
        }

        .social {
            position: absolute;
            margin: 0;
            padding: 0;
            list-style: none;
            top: 50%;
            right: 25px;
            transform: translate(-50%, 0);
    
            &:before {
                content: "";
                display: block;
                width: 1px;
                height: 40px;
                background: #7d7c7c;
                position: absolute;
                top: -50px;
                right: 12px;
            }
    
            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 40px;
                background: #7d7c7c;
                position: absolute;
                bottom: -50px;
                right: 12px;
            }
    
            li {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    
        .social-img {
            width: 25px;
            height: auto;
        }

        .languages {
            position: absolute;
            bottom: 50px;
            right: 120px;
            display: flex;
            list-style: none;

            li {
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    width: 19px;
                    height: 1px;
                    background: rgba(254, 254, 254, 0.4);
                    right: -8px;
                    bottom: 12px;
                }

                &:last-child:after {
                    display: none;
                }
            }

            .lang-link {
                font-size: 20px;
                line-height: 25px;
                color: rgba(254, 254, 254, 0.4);
                text-decoration: none;
                margin: 0 20px;
            }

            .lang-link.active {
                color: #E74444;
            }

        }
    }

    .hamburger-btn {
        z-index: 1000;
        width: 40px;
        height: 22px;
        position: relative;
        margin-right: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .hamburger-btn span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 0;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(2) {
            width: 70%;
            left: 6px;
        }
    }
    
    .hamburger-btn span:nth-child(1) {
        top: 0px;
    }
    
    .hamburger-btn span:nth-child(2) {
        top: 8px;
    }
    
    .hamburger-btn span:nth-child(3) {
        top: 16px;
    }
    
    .hamburger-btn.open span:nth-child(1) {
        top: 8px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .hamburger-btn.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    
    .hamburger-btn.open span:nth-child(3) {
        top: 8px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .hamburger-btn.open {
        position: fixed;
        top: 34px;
        right: 20px;
    }

    .navbar-block {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-left: 83px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .navbar-link {
        font-size: 30px;
        line-height: 22px;
        color: #FEFEFE;
        text-decoration: none;
    }

    .navbar-link.active {
        color: #E74444;
    }

    .categories {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 100px;

        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .categories-link {
        text-decoration: none;
        font-size: 15px;
        line-height: 18px;
        color: rgba(254, 254, 254, 0.7);
        transition: all 0.5s;

        &:hover {
            color: #E74444;
        }
    }

    .collapsed-trigger {
        margin-left: 25px;
    }
}

.slider {
    position: relative;
    z-index: 0;
    overflow: hidden;

    .slider-video {
        position: relative;
        padding: 0;
        max-height: 750px;
        overflow: hidden;

        video {
            height: 100%;
            position: relative;
            left: -70px;
            filter: brightness(70%);
        }

        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: none;
            background: transparent;
            width: 90px;
            height: auto;

            img {
                width: 100%;
            }
        }
    }

    .slider-info {
        background: url(../images/main-right.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 60px;
        padding-bottom: 150px;
        position: relative;

        h1 {
            font-family: Century Gothic;
            font-style: normal;
            font-weight: normal;
            font-size: 88px;
            line-height: 75px;
            color: #FEFEFE;
            margin-top: 160px;
        }

        p {
            font-family: Myriad Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FEFEFE;
            margin-top: 50px;
            margin-bottom: 90px;
            width: 35%;
        }

        .slider-product {
            max-width: 375px;
            position: absolute;
            bottom: 75px;
            right: 120px;
        }

        .slider-socials {
            position: absolute;
            margin: 0;
            padding: 0;
            list-style: none;
            top: 50%;
            right: 25px;
            transform: translate(-50%, 0);

            &:before {
                content: "";
                display: block;
                width: 1px;
                height: 40px;
                background: #7d7c7c;
                position: absolute;
                top: -50px;
                right: 12px;
            }

            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 40px;
                background: #7d7c7c;
                position: absolute;
                bottom: -50px;
                right: 12px;
            }

            li {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .slider-social-img {
            width: 25px;
            height: auto;
        }

        .lang {
            position: absolute;
            bottom: 25px;
            right: 40px;
            font-size: 16px;
            line-height: 20px;
            color: #FEFEFE;
        }
    }
}

.top-img {
    position: relative;
    z-index: 0;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    .top-img-title {
        margin-top: 220px;
        margin-bottom: 75px;
        font-weight: normal;
        font-size: 60px;
        line-height: 74px;
        color: #FEFEFE;
    }
}

.products {
    padding-top: 125px;
    padding-bottom: 75px;

    .products-block {
        position: relative;
        padding: 25px 25px 100px 25px;
        margin-bottom: 50px;

        .stics {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 10px;
            background: #E74444;
            border-radius: 0px 0px 0px 18px;
            font-size: 26px;
            line-height: 32px;
            color: #FEFEFE;
        }

        .products-img {
            height: 100%;
            max-height: 180px;
            width: auto;
            display: block;
            margin: 0 auto;
            margin-top: 100px;
        }

        .products-title {
            margin-top: 30px;
            font-size: 28px;
            line-height: 34px;
            color: #2B2A29;
        }

        .products-desc {
            margin-top: 16px;
            font-size: 18px;
            line-height: 24px;
            color: #2B2A29;
            margin-bottom: 55px;
        }

        .btn-link { 
            position: absolute;
            left: 50%;
            bottom: 25px;
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        &:hover {
            background: #EAEFF4;
            transition: background .1s ease-in-out;

            .btn-link {
                opacity: 1;
                transition: all .5s;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            font-size: 20px;
            line-height: 30px;
            color: #2B2A29;
            margin: 5px 12px;
        }

        .pagiantion-link {
            font-size: 20px;
            line-height: 30px;
            color: #929191;
            text-decoration: none;
            transition: all 0.5s;

            &:hover {
                color: #E74444;
            }
        }
    }
}

.top-bg {
    background: #2B2A29;
    height: 90px;
    position: relative;
    z-index: 0;
}

.product-card {
    position: relative;

    .image-block, .variants-block, .descr-block {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .image-block, .variants-block {
        background: #F4F4F4;
    }

    .descr-block {
        padding-left: 60px;
        padding-right: 60px;

        p {
            font-family: Myriad Pro;
            font-size: 16px;
            line-height: 28px;
            color: #2B2A29;
        }
    }

    .image-block {
        display: flex;
        flex-direction: row-reverse;
        position: relative;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            right: -12px;
        }

        img {
            width: 100%;
            height: auto;
            max-width: 445px;
        }

        .nav-tabs {
            border: none;

            .nav-item {
                height: auto;
            }

            .nav-link {
                border-radius: 0 !important;
                height: auto;
                width: 77px;
                color: #4D94B9;
                font-size: 18px;
                line-height: 20px;
                border-bottom: 1px solid #4D94B9;

                &:hover {
                    border-color: transparent;
                    border-bottom: 1px solid #4D94B9;
                }
            }

            .nav-link.active {
                color: #ffffff;
                font-size: 18px;
                line-height: 20px;
                background: #4D94B9;
                height: auto;
            }
        }

        .tab-content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .block-name {
            position: absolute;
            bottom: 20px;
            left: 60px;
            font-weight: bold;
            font-size: 60px;
            line-height: 50px;
            color: #EFEFEF;
        }
    }

    .variants {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            color: #ADADAD;
            margin-bottom: 10px;
            text-decoration: underline;
        }
    }

    .product-title {
        font-size: 40px;
        line-height: 60px;
        color: #2B2A29;
    }

    .price-tag {
        .price-tag-link {
            font-size: 20px;
            line-height: 20px;
            color: #4D94B9;
            text-decoration: none;
        }

        .price-tag-img {
            width: 25px;
            height: auto;
            margin-bottom: 3px;
        }
    }
}

.properties {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #EAEFF4;
    position: relative;

    .properties-title {
        font-size: 40px;
        line-height: 60px;
        color: #2B2A29;
    }

    .text-block {
        padding-right: 35px;
    }

    p {
        font-family: Myriad Pro;
        font-size: 16px;
        line-height: 28px;
        color: #2B2A29;
    }

    .properties-img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 10;
        
    }

    .block-name {
        font-weight: bold;
        font-size: 160px;
        line-height: 180px;
        color: #E7E7E7;
        position: absolute;
        bottom: 0;
        left: 60px;
    }
}

.composition {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    .composition-title {
        font-size: 40px;
        line-height: 60px;
        color: #2B2A29;
    }

    .text-block {
        padding-left: 35px;
    }

    p {
        font-family: Myriad Pro;
        font-size: 16px;
        line-height: 28px;
        color: #2B2A29;
    }

    .composition-img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 100;
    }

    .block-name {
        font-weight: bold;
        font-size: 160px;
        line-height: 180px;
        color: #F7F7F7;
        position: absolute;
        bottom: 0;
        right: 60px;
    }
}

.recommendations {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #EAEFF4;
    position: relative;

    .recommendations-title {
        font-size: 40px;
        line-height: 60px;
        color: #2B2A29;
    }

    .text-block {
        padding-right: 35px;
    }

    p {
        font-family: Myriad Pro;
        font-size: 16px;
        line-height: 28px;
        color: #2B2A29;
    }

    .recommendations-img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 100;
    }

    .block-name {
        font-weight: bold;
        font-size: 160px;
        line-height: 180px;
        color: #E7E7E7;
        position: absolute;
        bottom: 0;
        left: 60px;
    }
}

.video-block {
    position: relative;
    padding-top: 130px;
    padding-bottom: 120px;

    .videoframe {
        position: relative;

        video {
            position: relative;
            display: block;
        }

        button {
            top: 0;
            border: none;
            background: transparent;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: auto;
            }
        }
    }

    // .video-slider-main {
    //     margin-bottom: 15px;
    // }
    
    // .video-slider-main {
    //     img {
    //         margin: 0 auto;
    //     }
    // }

    // .video-slider-thmb {
    //     margin-top: 50px;
    //     margin-left: 200px;
    //     margin-right: 200px;
    //     z-index: 100;

    //     .slick-slide {
    //         margin: 0 20px;
    //         opacity: 0.5;
    //         transition: all .3s ease;
    //     }
        
    //     img {
    //         width: 100%;
    //     }
    // }
    
    // .video-slider-thmb .slick-slide.slick-active, .video-slider-thmb .slick-slide:hover {
    //     opacity: 1;
    // }
    
    // .video-slider-main, .video-slider-thmb {
    //     display: none;
    // }

    // .video-slider-arrows {
    //     width: 100%;
    //     display: flex;
    //     justify-content: space-between;
    //     position: relative;
    //     top: -73px;
    //     z-index: 0;
    //     padding: 0 100px;
    // }

    // .slider-btn {
    //     z-index: 100;
    //     width: 45px;
    //     height: 45px;
    //     margin: 5px;
    //     border: 1px solid #2B2A29;
    //     background: rgba(234, 239, 244, 0.5);
    //     color: #2B2A29;
    //     z-index: 0;
    // }

    .block-name {
        font-weight: bold;
        font-size: 160px;
        line-height: 180px;
        color: #F7F7F7;
        position: absolute;
        bottom: 0;
        right: 60px;
        z-index: -1;
    }
}

.category {
    padding-top: 160px;
    padding-bottom: 100px;
    overflow: hidden;
    background: #EAEFF4;

    h2 {
        font-size: 60px;
        line-height: 90px;
        color: #2B2A29;
        max-width: 1320px;
        padding-left: 15px;
    }

    .last-word {
        font-size: 100px;
    }

    .category-block {
        position: relative;
        margin: 40px 0;
        z-index: 10;
    }

    .category-img {
        width: 100%;
        height: 100%;
        transition: 0.5s;
        filter: opacity(0.5);
        z-index: 20;

        &:hover {
            filter: opacity(1);
        }
    }

    .row {
        div {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }

    .category-link {

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            padding: 10px;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: #2B2A29;
            font-weight: 700;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
        }

        &:hover .category-img {
            filter: opacity(1);
        }
    }

}

.big-logo {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #CFE8EE;

    .big-logo-img {
        width: 900px;
        display: block;
        margin: 0 auto;
    }

}

.map {
    padding-top: 160px;
    padding-bottom: 160px;
    background: #EAEFF4;
    position: relative;

    .map-title {
        font-size: 60px;
        line-height: 60px;
        color: #2B2A29;
        margin-bottom: 60px;
    }

    .map-block, .adress-block {
        padding-right: 0 !important;
        padding-left: 0 !important;
        height: 560px;
    }

    .adress-block {
        background: #FEFEFE;
    }

    ul {
        list-style: none;
    }

    .map-adress {
        padding-left: 0 !important;
        margin-left: 60px;
        margin-right: 30px;
        margin-top: 30px;
        overflow-y: scroll;
        height: 500px;

        &::-webkit-scrollbar {
            width: 3px;
        }
        
        &::-webkit-scrollbar-track {
            background: #CFE8EE;
            -webkit-border-radius: 10px;
            border-radius: 2px;
        }
        
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 2px;
            width: 4px;
            background: #4D94B9; 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
    }

    .map-city {
        font-size: 20px;
        line-height: 25px;
        color: #2B2A29;
        margin-top: 30px;

        ul li {
            font-family: Myriad Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            color: rgba(43, 42, 41, 0.6);
        }
    }

}

.partners {
    padding-top: 160px;
    padding-bottom: 160px;
    background: #4D94B9;
    position: relative;

    .partners-title {
        font-size: 60px;
        line-height: 60px;
        color: #FEFEFE;
        margin-bottom: 60px;
    }

    .partner-img {
        width: 130px;
        margin: 0 auto;
    }

    .slick-wrapper {
        max-width: 80%;
        margin: 0 auto;
    }

    .slider-arrows {
        margin-top: 50px;
        text-align: right;
    }

    .slider-btn {
        z-index: 100;
        width: 45px;
        height: 45px;
        margin: 5px;
        border: 1px solid #FFFFFF;
        background: rgba(234, 239, 244, 0.5);
        color: #FFFFFF;
    }
}

.slick-dots {
    bottom: -75px;
    width: max-content !important;
    left: 50%;
    transform: translate(-50%, 50%);
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 6px;
    content: '';
    text-align: center;
    opacity: .25;
    color: black;
    background: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.about-us {
    padding-top: 160px;
    padding-bottom: 160px;

    .image-block {
        margin-bottom: 40px;
    }

    .desc-block {
        padding-left: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-us-img {
        width: 100%;
        height: auto;
    }

    h3 {
        font-size: 60px;
        line-height: 60px;
        color: #2B2A29;    
        margin-top: 25px;    
    }

    p {
        font-family: Myriad Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #2B2A29;
        margin-bottom: 50px;
    }

    .about-collapse {
        .row:nth-child(odd) {
            .desc-block {
                padding-left: 0;
                padding-right: 40px;
            }
        }

        .row:nth-child(even) {
            .desc-block {
                padding-left: 40px;
                padding-right: 0;
            }
        }
    }
}

.contacts {
    padding-top: 160px;
    padding-bottom: 160px;
    background: #EAEFF4;

    .slider-contact {
        display: flex;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);
    }

    .contact-arrows {
        display: none;
    }

    .contacts-title {
        font-size: 60px;
        line-height: 60px;
        color: #2B2A29;
        margin-bottom: 70px;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-top: 40px;
        }
    }

    .contact-icon {
        width: 20px;
        height: auto;
        margin-right: 10px;
    }

    .contact-desc {
        font-family: Myriad Pro;
        font-size: 20px;
        line-height: 32px;
        color: #2B2A29;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 80%;
    }

    span {
        order: -1;
        width: 100%;
        margin-left: 31px;
        font-size: 14px;
        line-height: 18px;
        color: rgba(43, 42, 41, 0.4);
    }
}

.get-form {
    padding-top: 140px;
    padding-bottom: 150px;

    form {
        width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    input[type=text] {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid rgba(43, 42, 41, 0.2);

        &::placeholder {
            font-size: 16px;
            line-height: 18px;
            color: rgba(43, 42, 41, 0.6);
        }
    }

    input[type=button] {
        margin-top: 20px;
    }
}

.footer {
    background: #2E2F2F;

    .footer-logo-img {
        display: block;
        margin: 0 auto;
        margin-top: 90px;
        width: 350px;
        height: auto;
    }

    .footer-social {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
        width: max-content;
        list-style: none;
        padding-left: 0;

        .footer-social-img {
            width: 38px;
            height: auto;
            margin: 0 20px;
        }
    }

    hr {
        border: none;
        color: #FFFFFF;
        height: 2px;
        background-color: #FFFFFF;
    }

    .copyright {
        display: block;
        padding: 33px;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: #FEFEFE;
    }
}

// .scrollbar {
//     position: fixed;
//     right: 20px;
//     top: calc(50% - 10vh);
//     height: 20vh;
//     width: 2px;
//     border-radius: 2px;
//     background: #B8B8B8;
//     z-index: 500;

//     .scrollball {
//         width: 15px;
//         height: 1px;
//         right: -6px;
//         position: absolute;
//         background: #2B2A29;

//         span {
//             position: absolute;
//             right: 15px;
//             top: -8px;
//             height: max-content;
//             color: #2B2A29;
//             writing-mode: tb-rl;
//         }
//     }
// }


@media screen and (max-width: 1640px) {
    .container {
        max-width: 1500px;
    }
}

@media screen and (max-width: 1366px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .slider {
        .left-block {
            height: 500px;
        }

        .slider-video {
            max-height: 500px;
            height: 40vh;

            video {
                height: auto;
                width: 100%;
                left: 0;
            }
        }

        .slider-info {
            padding-left: 0;
            text-align: center;

            h1 {
                font-size: 64px;
            }

            p {
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }

            .slider-product {
                right: 50%;
                transform: translate(50%, 0);
                height: 25vh;
                top: -15vh;
            }

            .slider-socials {
                display: none;
            }
        }
    }

    .category {
        display: flex;
        flex-direction: column;
        
        .container-fluid {
            order: 1;
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 960px;
    }

    .category {
        h2 {
            font-size: 30px;
            line-height: 60px;
        }

        .last-word {
            font-size: 60px;
        }
    }

    .properties {
        .block-name {
            font-size: 100px;
            bottom: -30px;
        }
    }

    .composition {
        .block-name {
            font-size: 100px;
            bottom: -30px;
        }
    }

    .recommendations {
        .block-name {
            font-size: 100px;
            bottom: -30px;
        }
    }

    .video-block {
        .video-slider-arrows {
            top: -51px;
        }

        .block-name {
            font-size: 100px;
            bottom: -30px;
        }
    }
}

@media screen and (max-width: 990px) {
    .about-us {
        .image-block {
            padding-right: calc(var(--bs-gutter-x) * .5);
        }

        .desc-block {
            padding-left: calc(var(--bs-gutter-x) * .5);
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        .navbar {
            .navbar-bg {
                width: 100%;
            }
        }
    }

    .product-card {
        .image-block {
            .banner-slider {
                .slider.slider-nav {
                    height: auto;
                }
            }

            .slider-banner-image {
                height: auto;
            }

            .slider-nav {
                .slick-slide.thumbnail-image {
                    .thumbImg {
                        height: auto;
                    }
                }
            }
        }
    }

    .slider {

        .btn-link {
            display: block;
            margin: 0 auto;
        }

        .slider-desc {
            margin-right: 60px;
            text-align: center;
        }

        .slider-socials {
            display: none;
        }

        .lang {
            display: none;
        }
    }

    .category {
        padding-top: 110px;
        padding-bottom: 110px;

        h2 {
            text-align: center;
        }

        .category-block {
            margin: 1px 0;
        }
    }

    .big-logo {
        .big-logo-img {
            width: 100%;
            padding: 0 30px;
        }
    }

    .map  {
        padding-bottom: 0;
        
        .map-title {
            font-size: 40px;
            text-align: center;
        }
    }

    .partners {
        padding-top: 100px;
        padding-bottom: 100px;

        .partners-title {
            font-size: 40px;
            text-align: center;
        }
    }

    .contacts {
        padding-top: 100px;
        padding-bottom: 100px;

        .contacts-title {
            font-size: 40px;
            margin-bottom: 0;
        }

        .slider-contact {
            display: flex;

            .slick-dots {
                display: flex;
                justify-content: center;

                li button:before {
                    background: #4D94B9;
                }
            }
        }

        .slider-btn {
            z-index: 100;
            width: 45px;
            height: 45px;
            margin: 5px;
            border: 1px solid #2D9CDB;
            background: rgba(234, 239, 244, 0.5);
            color: #2D9CDB;
        }

        .contact-arrows {
            display: block;
            text-align: right;
        }
    }

    .get-form {
        padding-top: 100px;
        padding-bottom: 100px;

        form {
            width: 100%;
        }
    }

    .scrollbar {
        display: none;
    }
}

@media screen and (max-width: 696px) {
    .slider {
        .slider-info {
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            padding-bottom: 70px;
            
            h1 {
                font-size: 30px;
                line-height: 37px;
                margin-top: 90px;
            }

            p {
                width: 80%;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }

    .category {
        h2 {
            margin-bottom: 100px;
            padding-left: 0;
            line-height: 50px;

            span {
                font-size: 55px;
                display: block;
            }
        }

        .last-word {
            text-transform: uppercase;
        }
    }

    .product-card {
        .descr-block {
            width: 100%;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            margin: 0 auto;
        }
        
        .block-name {
            left: 20px !important;
            font-size: 40px !important;
        }
    }

    .properties {
        .block-name {
            left: 20px !important;
            font-size: 64px;
        }
    }

    .composition {
        .block-name {
            left: 20px !important;
            font-size: 64px;
        }
    }

    .recommendations {
        .block-name {
            left: 20px !important;
            font-size: 64px;
        }
    }

    .video-block {
        padding-top: 50px;
        padding-bottom: 50px;

        .block-name {
            left: 20px !important;
            font-size: 64px;
        }
    }

    .video-block {
        .video-slider-arrows {
            justify-content: right;
            padding: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
    }

    .btn-link {
        padding: 20px 35px;
    }

    .slider {
        .slider-info {
            padding-left: calc(var(--bs-gutter-x) * .5);
        }
    }

    .header {
        .logo-img {
            width: 170px;
        }

        .hamburger-btn {
            margin-right: 0;

            &.open {
                top: 29px;
            }
        }

        .navbar-block {
            margin-left: 30px;

            li {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .navbar-link {
            font-size: 20px;
            line-height: 22px;
        }

        .categories {
            margin-left: 50px;
        }
    }

    .top-img {
        .top-img-title {
            font-size: 28px;
            line-height: 34px;
        }
    }

    .products {
        padding-top: 60px;
        padding-bottom: 60px;

        .products-block {
            .stics {
                right: 26px;
                border-radius: 0px 18px 0px 18px;
            }
        }
    }

    .product-card {

        .descr-block {
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            width: 90%;
        }

        .product-title {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .properties {

        .img-block {
            order: 0;
            margin-bottom: 30px;
        }

        .text-block {
            order: 1;
        }
    }

    .composition {

        .img-block {
            order: 0;
            margin-bottom: 30px;
        }

        .text-block {
            order: 1;
            padding-left: calc(var(--bs-gutter-x) * .5);
        }
    }

    .recommendations {

        .img-block {
            order: 0;
            margin-bottom: 30px;
        }

        .text-block {
            order: 1;
        }
    }

    .video-block {
        padding: 0;
    }

    .slider {
        .slider-product {
            right: 50%;
            transform: translate(50%, 0);
        }

        .slider-title {
            line-height: 25px;
        }

        .left-block {
            height: 350px;
            margin-top: -20px;
        }
    }

    .category {
        padding-top: 100px;
        padding-bottom: 100px;

        .last-word {
            font-size: 60px;
        }
    }

    .about-us {
        padding-top: 100px;
        padding-bottom: 100px;

        .image-block {
            order: 0;
            padding-right: calc(var(--bs-gutter-x) * .5);
        }

        .desc-block {
            order: 1;
            padding-left: calc(var(--bs-gutter-x) * .5);
        }
    }

    .btn-link {
        margin: 0 auto;
        font-size: 16px;
    }

    .contacts {
        padding-top: 100px;
        padding-bottom: 100px;

        .container {
            width: 90%;
        }

        .contact-arrows {
            margin-top: 60px;
        }
    }

    .partners {
        padding-top: 100px;
        padding-bottom: 100px;

        .partners-title {
            line-height: 32px;
        }

        .partner-img {
            margin: 15px auto;
        }
    }

    .about-us {
        padding-top: 100px;
        padding-bottom: 100px;

        h3 {
            font-size: 40px;
            line-height: 40px;
            text-align: center;
        }
    }

    .map {
        padding-top: 100px;
        padding-bottom: 100px;

        .map-title {
            line-height: 32px;
        }
    }

    .get-form {
        padding-top: 100px;
        padding-bottom: 100px;

        .btn-link {
            padding: 20px 5px;
            width: 100%;
        }
    }

    .footer {
        .footer-logo-img {
            width: 245px;
        }
    }
}

@media screen and (max-width: 400px) {
    .category {
        padding-top: 80px;

        h2 {
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 80px;
             
            span {
                font-size: 35px;
            }
        }

        .last-word {
            font-size: 40px;
        }
    }

    .properties {
        .properties-title {
            font-size: 24px;
        }
        .block-name {
            font-size: 45px;
        }
    }

    .composition {
        .composition-title {
            font-size: 24px;
        }
        .block-name {
            font-size: 45px;
        }
    }

    .recommendations {
        .recommendations-title {
            font-size: 24px;
        }
        .block-name {
            font-size: 45px;
        }
    }

    .video-block {
        .block-name {
            font-size: 45px;
        }
    }

    .map {
        .map-title {
            font-size: 34px;
        }
    }

    .partners {
        .partners-title {
            font-size: 34px;
        }
    }
}